@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Blinker', sans-serif;
	scroll-behavior: smooth;
}
body {
	background: #f9f5eb;
}
.container {
	max-width: 1150px;
	padding: 0px 10px 0px 10px;
	margin: 0 auto;
}
/*Header*/
.header__logo {
	display: flex;
	align-items: center;
	gap: 25px;
	text-decoration: none;
}
.header__logo span {
	color: #c17b54;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 2.2px;
}
.header__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 15px;
}
.header__list {
	display: flex;
	align-items: center;
	gap: 40px;
	list-style: none;
	transition: all 0.3s ease 0s;
}
@media (max-width: 668px) {
	.header__list {
		flex-direction: column;
		height: 100vh;
		position: fixed;
		left: -200%;
		top: 0;
		padding-right: 50px;
		padding-left: clamp(50px, 15%, 70px);
		padding-top: 150px;
		background: #c17b54;
		z-index: 100;
	}
}
.header__item a {
	color: #262523;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
	.header__item a:hover {
		color: #646464;
	}
}
.header__burger {
	cursor: pointer;
	display: none;
}
.header__burger span {
	height: 3px;
	width: 30px;
	display: block;
	background: #262523;
}
.header__burger span:not(:last-child) {
	margin-bottom: 7px;
}
@media (max-width: 668px) {
	.header__burger {
		display: block;
	}
}
/* footer */
.footer__logo {
	display: flex;
	align-items: center;
	gap: 25px;
	text-decoration: none;
}
.footer__logo span {
	color: #c17b54;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 2.2px;
}
@media (max-width: 446px) {
	.footer__logo span {
		display: none;
	}
}
.footer__footer {
	border-radius: 20px 20px 0px 0px;
	background: #3c4447;
	padding: 25px 10px;
}
.footer__footerContent {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer__links {
	display: flex;
	align-items: center;
	gap: 35px;
}
@media (max-width: 446px) {
	.footer__links {
		gap: 7px;
	}
}
.footer__link {
	display: flex;
	align-items: center;
	gap: 15px;
	text-decoration: none;
}
.footer__link span {
	color: #f8ce7b;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
@media (max-width: 666px) {
	.footer__link span {
		display: none;
	}
}
/* report */
.report {
	padding-top: 80px;
	margin-bottom: 120px;
}
.report .container {
	max-width: 1250px;
}
.card-report {
	border-radius: 26px;
	margin: 0 auto;
	background: #fff;
	box-shadow: 2px 2px 28.8px 0px rgba(0, 0, 0, 0.25);
	max-width: 720px;
	width: 100%;
	min-height: 170px;
	padding: 35px 50px;
	margin-bottom: 60px;
}
@media (max-width: 666px) {
	.card-report {
		padding: 30px 25px;
	}
}
.card-report .card-report__title {
	color: #c17b54;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
	font-size: clamp(1.625rem, 2.4171rem, 2.25rem);
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 3.96px;
	margin-bottom: 15px;
}
.card-report .card-report__subtitle {
	color: #000;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
	font-size: clamp(1.625rem, 2.4171rem, 2.25rem);
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 2.52px;
}
.report__grid {
	display: grid;
	grid-template-columns: 35% 55%;
	align-items: center;
	gap: 10px;
	margin-bottom: 60px;
	justify-content: space-between;
}
@media (max-width: 900px) {
	.report__grid {
		grid-template-columns: 1fr;
		gap: 40px;
	}
}
@media (max-width: 900px) {
	.report__right {
		order: 1;
	}
}
.report__right img {
	width: 100%;
	height: 100%;
}
.report__price {
	color: #000;
	font-size: clamp(1.5rem, 2.4505rem, 2.25rem);
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
@media (max-width: 900px) {
	.left-report {
		order: 2;
	}
}
.left-report .left-report__flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #000;
	font-size: 24px;
	margin-bottom: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
/* form */
.form {
	width: 100%;
	min-height: 440px;
	background: url('../img/formBG.png') center 0 no-repeat;
	padding: 50px 100px 80px 90px;
	border-radius: 45px;
	box-shadow: 3px 4px 16.4px 0px rgba(0, 0, 0, 0.25);
	overflow: hidden;
	margin-bottom: 100px;
}
@media (max-width: 768px) {
	.form {
		padding: 30px 40px 40px 40px;
	}
}
@media (max-width: 600px) {
	.form {
		background-size: cover;
	}
}
.form__title {
	color: #fff;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
	font-size: clamp(1.625rem, 2.7339rem, 2.5rem);
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 100px;
}
@media (max-width: 600px) {
	.form__title {
		margin-bottom: 50px;
	}
}
.form__grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 30px;
	justify-content: space-between;
	column-gap: clamp(1.875rem, 7.4196rem, 6.25rem);
}
@media (max-width: 600px) {
	.form__grid {
		grid-template-columns: 1fr;
	}
}
.form__input {
	border: none;
	outline: none;
	padding: 17px 30px 17px 25px;
	border-radius: 15px;
	background: #fff;
	box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	width: 100%;
}
.form__button {
	border: none;
	outline: none;
	border-radius: 15px;
	background: #c17b54;
	box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
	color: #f8f7f7;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-align: center;
	padding: 12px 30px;
	width: 100%;
	cursor: pointer;
}
