@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Blinker', sans-serif;
	scroll-behavior: smooth;
}
body {
	background: #f9f5eb;
}
.container {
	max-width: 1150px;
	padding: 0px 10px 0px 10px;
	margin: 0 auto;
}
/*Header*/
.header__logo {
	display: flex;
	align-items: center;
	gap: 25px;
	text-decoration: none;
	span {
		color: #c17b54;

		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 2.2px;
	}
}
.header__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 15px;
}
.header__list {
	display: flex;
	align-items: center;
	gap: 40px;
	list-style: none;
	transition: all 0.3s ease 0s;
	@media (max-width: 668px) {
		flex-direction: column;
		height: 100vh;
		position: fixed;
		left: -200%;
		top: 0;
		padding-right: 50px;
		padding-left: clamp(50px, 15%, 70px);
		padding-top: 150px;
		background: #c17b54;
		z-index: 100;
	}
}
.header__item {
	a {
		color: #262523;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-decoration: none;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: rgb(100, 100, 100);
			}
		}
	}
}
.header__burger {
	cursor: pointer;
	display: none;
	span {
		height: 3px;
		width: 30px;
		display: block;
		background: #262523;
		&:not(:last-child) {
			margin-bottom: 7px;
		}
	}
	@media (max-width: 668px) {
		display: block;
	}
}
/* search-panel */
.search-panel__searchPanel {
	padding-top: 100px;
	padding-bottom: 120px;
}
.search-panel__card {
	border-radius: 25px;
	background: #fff;
	box-shadow: 2px 2px 38.6px 0px rgba(0, 0, 0, 0.25);
	min-height: 500px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 45px 80px 60px 55px;
	@media (max-width: 830px) {
		padding: 45px 20px 60px 25px;
	}
	@media (max-width: 740px) {
		flex-direction: column;
	}
}
.search-panel__divider {
	height: 350px;
	width: 2px;
	background: #000;
	display: block;
	@media (max-width: 740px) {
		width: 90%;
		height: 2px;
		margin-top: 50px;
		margin-bottom: 50px;
	}
}
.search-panel__title {
	color: #000;
	font-size: clamp(1.75rem, 1.6708rem + 0.396vw, 2rem);
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 45px;
}
.search-panel__list {
	display: flex;
	flex-direction: column;
	list-style: inside;
	gap: 30px;
}
.search-panel__item {
	color: #000;
	font-size: clamp(1.4375rem, 1.3385rem + 0.495vw, 1.75rem);
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.search-panel__titleRight {
	color: #000;
	font-size: clamp(1.5rem, 1.4208rem + 0.396vw, 1.75rem);
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	max-width: 360px;
	margin-bottom: 45px;
}
.search-panel__form {
	display: flex;
	flex-direction: column;
	align-items: end;
}
.search-panel__input {
	border: none;
	padding: 20px 35px;
	border-radius: 25px;
	background: #f9f5eb;
	box-shadow: 2px 2px 12.7px 0px rgba(0, 0, 0, 0.42);
	width: 100%;
	outline: none;
	font-size: 18px;
	margin-bottom: 30px;
}
.search-panel__button {
	border: none;
	border-radius: 17px;
	background: #c17b54;
	box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
	padding: 18px 50px;
	outline: none;
	color: #fff;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	cursor: pointer;
}

.search-panel__right {
	padding-left: 20px;
}
.search-panel__left {
	padding-right: 20px;
}
/* text-block */
.text-block__title {
	color: #000;
	font-size: clamp(1.75rem, 1.5124rem + 1.1881vw, 2.5rem);
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 35px;
}
.text-block__descr {
	color: #000;
	font-size: clamp(1.25rem, 1.1708rem + 0.396vw, 1.5rem);
	font-style: normal;
	font-weight: 700;
	line-height: 175.434%; /* 42.104px */
}
.text-block__textBlock {
	margin-bottom: 90px;
}
/* history */
.history__title {
	color: #000;
	font-size: clamp(1.75rem, 1.5124rem + 1.1881vw, 2.5rem);
	margin-bottom: 60px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.history__history {
	margin-bottom: 120px;
}
.history__list {
	display: flex;
	flex-direction: column;
	list-style: inside;
	gap: 30px;
}
.history__item {
	color: #000;
	font-size: clamp(1.375rem, 1.2562rem + 0.5941vw, 1.75rem);
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
/* footer */
.footer__logo {
	display: flex;
	align-items: center;
	gap: 25px;
	text-decoration: none;
	span {
		color: #c17b54;

		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 2.2px;
		@media (max-width: 446px) {
			display: none;
		}
	}
}
.footer__footer {
	border-radius: 20px 20px 0px 0px;
	background: #3c4447;
	padding: 25px 10px;
}
.footer__footerContent {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer__links {
	display: flex;
	align-items: center;
	gap: 35px;
	@media (max-width: 446px) {
		gap: 7px;
	}
}
.footer__link {
	display: flex;
	align-items: center;
	gap: 15px;
	text-decoration: none;
	span {
		color: #f8ce7b;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		@media (max-width: 666px) {
			display: none;
		}
	}
}
