@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Blinker', sans-serif;
	scroll-behavior: smooth;
}
body {
	background: #f9f5eb;
	position: relative;
}
.container {
	max-width: 1150px;
	padding: 0px 10px 0px 10px;
	margin: 0 auto;
}
/*Header*/
.header__logo {
	display: flex;
	align-items: center;
	gap: 25px;
	text-decoration: none;
}
.header__logo span {
	color: #c17b54;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 2.2px;
}
.header__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 15px;
}
.header__list {
	display: flex;
	align-items: center;
	gap: 40px;
	list-style: none;
	transition: all 0.3s ease 0s;
}
@media (max-width: 668px) {
	.header__list {
		flex-direction: column;
		height: 100vh;
		position: fixed;
		left: -200%;
		top: 0;
		padding-right: 50px;
		padding-left: clamp(50px, 15%, 70px);
		padding-top: 150px;
		background: #c17b54;
		z-index: 100;
	}
}
.header__item a {
	color: #262523;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
	.header__item a:hover {
		color: #646464;
	}
}
.header__burger {
	cursor: pointer;
	display: none;
}
.header__burger span {
	height: 3px;
	width: 30px;
	display: block;
	background: #262523;
}
.header__burger span:not(:last-child) {
	margin-bottom: 7px;
}
@media (max-width: 668px) {
	.header__burger {
		display: block;
	}
	.search-panel__searchPanel {
		padding-bottom: 0;
	}
}
/* search-panel */
.search-panel__searchPanel {
	padding-top: 100px;
	padding-bottom: 120px;
	background: url('../img/mainHeaderBG.jpg') center center/cover no-repeat;
}
@media (max-width: 668px) {
	.header__burger {
		display: block;
	}
	.search-panel__searchPanel {
		padding-bottom: 0;
	}
}
/* .search-panel__card {
	 border-radius: 25px;
	 background: #fff;
	 box-shadow: 2px 2px 38.6px 0px rgba(0, 0, 0, 0.25);
	 min-height: 500px;
	 display: flex;
	 align-items: center;
	 justify-content: space-between;
	 padding: 45px 80px 60px 55px;
}
 */
@media (max-width: 830px) {
	.search-panel__card {
		padding: 45px 20px 60px 25px;
	}
}
@media (max-width: 740px) {
	.search-panel__card {
		flex-direction: column;
	}
}
.search-panel__divider {
	height: 350px;
	width: 2px;
	background: #000;
	display: block;
}
@media (max-width: 740px) {
	.search-panel__divider {
		width: 90%;
		height: 2px;
		margin-top: 50px;
		margin-bottom: 50px;
	}
}
.search-panel__title {
	color: #000;
	font-size: clamp(1.75rem, 2.0668rem, 2rem);
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 45px;
}
.search-panel__list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	list-style: inside;
	gap: 30px;
	margin-bottom: 40px;
}
.search-panel__item {
	color: #000;
	font-size: clamp(1.375rem, calc(1.2526rem + 0.6122vw), 1.75rem);
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.search-panel__titleRight {
	color: #000;
	font-size: clamp(1.5rem, calc(1.4184rem + 0.4082vw), 1.75rem);
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	max-width: 360px;
	margin-bottom: 45px;
}
.search-panel__form {
	display: flex;
	/* flex-direction: column;
	 */
	align-items: center;
	gap: 40px;
	/* flex-wrap: wrap;
	 */
}
.search-panel__input {
	border: none;
	padding: 20px 35px;
	border-radius: 25px;
	background: #f9f5eb;
	box-shadow: 2px 2px 12.7px 0px rgba(0, 0, 0, 0.42);
	width: 100%;
	outline: none;
	font-size: 18px;
	gap: 50px;
	/* margin-bottom: 30px;
	 */
}
.search-panel__button {
	border: none;
	border-radius: 17px;
	background: #c17b54;
	box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
	padding: 18px 50px;
	outline: none;
	color: #fff;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	cursor: pointer;
}
.search-panel__right {
	padding-left: 20px;
}
.search-panel__left {
	padding-right: 20px;
}
/* text-block */
.text-block__title {
	color: #000;
	font-size: clamp(1.75rem, calc(1.5051rem + 1.2245vw), 2.5rem);
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 35px;
}
.text-block__descr {
	color: #000;
	font-size: clamp(1.25rem, calc(1.1684rem + 0.4082vw), 1.5rem);
	font-style: normal;
	font-weight: 700;
	line-height: 175.434%;
	/* 42.104px */
}
.text-block__textBlock {
	margin-bottom: 90px;
}
.text-block__textBlock:first-child {
	padding-top: 100px;
}
.right_bottom {
	position: absolute;
	right: 0;
	bottom: 100px;
	width: clamp(300px, 50%, 600px);
}
.right_bottom img {
	width: 100%;
	height: 100%;
}
/* history */
.history__title {
	color: #000;
	font-size: clamp(1.75rem, calc(1.5051rem + 1.2245vw), 2.5rem);
	margin-bottom: 60px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.history__history {
	margin-bottom: 220px;
}
.history__list {
	display: flex;
	flex-direction: column;
	list-style: inside;
	gap: 30px;
}
.history__item {
	color: #000;
	font-size: clamp(1.375rem, calc(1.2526rem + 0.6122vw), 1.75rem);
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
/* footer */
.footer__logo {
	display: flex;
	align-items: center;
	gap: 25px;
	text-decoration: none;
}
.footer__logo span {
	color: #c17b54;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 2.2px;
}
@media (max-width: 446px) {
	.footer__logo span {
		display: none;
	}
}
.footer__footer {
	border-radius: 20px 20px 0px 0px;
	background: #3c4447;
	padding: 25px 10px;
}
.footer__footerContent {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer__links {
	display: flex;
	align-items: center;
	gap: 35px;
}
@media (max-width: 446px) {
	.footer__links {
		gap: 7px;
	}
}
.footer__link {
	display: flex;
	align-items: center;
	gap: 15px;
	text-decoration: none;
}
.footer__link span {
	color: #f8ce7b;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
@media (max-width: 666px) {
	.search-panel__form {
		flex-direction: column;
		align-items: end;
	}
	.footer__link span {
		display: none;
	}
}
